
<mat-tab-group #navbar animationDuration="500ms" mat-align-tabs="center" [color]="primary" [backgroundColor]="accent">
  <mat-tab label="JAVASCRIPT"> JAVASCRIPT </mat-tab>
  <mat-tab label="HTML5"> HTML5 </mat-tab>
  <mat-tab label="CSS3"> CSS3 </mat-tab>
  <mat-tab label="ANGULAR"> ANGULAR </mat-tab>
  <mat-tab label="NODEJS"> NODEJS </mat-tab>
  <mat-tab label="DATABASE"> DATABASE </mat-tab>
  <mat-tab label="DEPLOYMENT"> DEPLOYMENT </mat-tab>
  <mat-tab label="TESTING"> TESTING </mat-tab>
</mat-tab-group>